<h2>{{title}}</h2>
<div class="question-edit">

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group" [ngClass]="{ 'has-error has-feedback': hasError('Text') }">
      <label for="text">Question text:</label>
      <br />
      <textarea class="form-control"
                formControlName="Text" required
                placeholder="enter a suitable text...">

      </textarea>
      <span *ngIf="hasError('Text')" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
      <div *ngIf="hasError('Text')" class="help-block">
        Title is a required field: please insert a valid text.
      </div>
    </div>

    <div>
      <button *ngIf="editMode" class="btn btn-sm btn-success"
              [disabled]="form.invalid"
              type="submit">
        Apply Changes
      </button>

      <button *ngIf="!editMode" class="btn btn-sm btn-primary"
              [disabled]="form.invalid"
              type="submit">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Create the Question!
      </button>

      <button class="btn btn-sm btn-default"
              type="button"
              (click)="onBack()">
        Cancel
      </button>
    </div>
  </form>

    <answer-list *ngIf="editMode" [question]="question"></answer-list>
</div>

<!--TEST-->
<div class="panel panel-info" style="margin-top: 20px;">
  <div class="panel-heading">Form debug info</div>
  <div class="panel-body">
    <p><strong>Form value:</strong></p>
    <div class="help-block">
      {{ form.value | json }}
    </div>
    <p><strong>Form status:</strong></p>
    <div class="help-block">
      {{ form.status | json }}
    </div>
    <p><strong>Form activity log:</strong></p>
    <div class="help-block">
      <span *ngIf="activityLog" [innerHTML]="activityLog"></span>
    </div>
  </div>
</div>
