<h2>{{title}}</h2>
<div class="answer-edit">
  <div class="form-group">
    <label for="text">Answer text:</label>
    <br />
    <textarea class="form-control" id="text" [(ngModel)]="answer.Text" placeholder="enter a suitable text..."></textarea>
  </div>

  <div class="form-group">
    <label for="value">Score Value:</label>
    <br />
    <select class="form-control" id="value" name="value" [(ngModel)]="answer.Value">
      <option *ngFor="let num of [-5,4,3,2,1,0,1,2,3,4,5]"
              [value]="num">{{num}}</option>
    </select>
  </div>

  <div>
    <input class="btn btn-sm btn-success" *ngIf="editMode" type="button" value="Apply Changes" (click)="onSubmit(answer)" />

    <button *ngIf="!editMode" (click)="onSubmit(result)" class="btn btn-sm btn-primary">
      <span class="glyphicon glyphicon-plus-sign"></span>
      Create the Answer!
    </button>

    <input class="btn btn-sm btn-default" type="button" value="Cancel" (click)="onBack()" />
  </div>
</div>
